<nav class = "navbar navbar-default" role = "navigation">

  <div class = "navbar-header">
    <a class = "navbar-brand" href = "#">Rails Admin Experiment</a>
  </div>

  <% if employee_signed_in? %>
    <div>
      <!--Right Align-->
      <ul class = "nav navbar-nav navbar-right">
        <li class = "dropdown">
          <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
            Java
            <b class = "caret"></b>
          </a>

          <ul class = "dropdown-menu">
            <li><a href = "#">jmeter</a></li>
            <li><a href = "#">EJB</a></li>
            <li><a href = "#">Jasper Report</a></li>

            <li class = "divider"></li>
            <li><a href = "#">Separated link</a></li>

            <li class = "divider"></li>
            <li><a href = "#">One more separated link</a></li>
          </ul>

        </li>
      </ul>

      <form class = "navbar-form navbar-right" role = "search">
        <button type = "submit" class = "btn btn-default">
          Right align-Submit Button
        </button>
      </form>

      <p class = "navbar-text navbar-right">Right align-Text</p>

    </div>
  <% end %>
  <% if employee_signed_in? %>
    <li>
      <%= link_to "Logout", destroy_employee_session_path, method: :delete %>
    </li>
  <% else %>
    <li>
      <%= link_to "Signup", new_employee_registration_path %>
    </li>
    <li>
      <%= link_to "Login", new_employee_session_path %>
    </li>
  <% end %>
</nav>
